@import url("https://fonts.googleapis.com/css?family=Audiowide&display=swap");

body {
    display: flex;
    min-height: 100vh;
    background-image: linear-gradient(
    165deg, 
    rgba(230, 235, 243, 0.5) 3%,
    rgba(57, 60, 247, 0.808) 100%);
}

section {
    margin: auto;
    text-align: center;
}

h1 {
    font-family: 'Audiowide', cursive;
    color: 000;  
}